{% load staticfiles %}
<html>
    <head>
        <title>Sensores</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <style>
     .body{ background-image: url(/static/img/2.jpg); background-repeat: repeat; }
     .footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        /* Set the fixed height of the footer here */
        height: 30px;
        background-color: green;
        color: white;
     }

     h3{
        font-weight: bold;
        color:#003366;
     }
     h2{
        color:green;
     }
    </style>


    </head>

    <body>

        <div>

        </div>
        <div class="jumbotron text-center body" >
        <img class"align-left" src="static/img/logo_unb.png" alt ="logo">
            <h2> <strong> Sensores de Temperatura e Umidade </strong> </h2>
        </div>
	
       <div class="container">


                           
	   <table class="table table-responsive" >
       <thead>  
       <tr>
        <th> <h3 class= "text-center" >Local</h2></th>
        <th> <h3 class= "text-center" >Data</h2></th>
        <th> <h3 class= "text-center" >Temperatura</h2></th>
        <th> <h3 class= "text-center" >Temperatura Média</h2></th>
        <th> <h3 class= "text-center" >Umidade</h2></th>
        <th> <h3 class= "text-center" >Umidade Média</h2></th>
        <th> <h3 class= "text-center" >Logs</h2></th>
       </tr>
       </thead>

       <tbody>
         <tr>
                {% if query %}
            
                    {% for dados in query %}


                        <td class="text-center" >{{dados.local}}</td>
                        <td class="text-center" >{{ dados.data }}</td>

                        <td class="
                        {% if dados.temperatura > lim_temperatura %}bg-danger   
                        {% elif dados.temperatura < temperatura_ideal %}bg-success
                        {% else %}bg-warning
                        {% endif %} text-center" >{{ dados.temperatura }}°C</td>

                        <td class="text-center" >{{ dados.media_t }}°C</td>

                        <td class="
                        {% if dados.umidade > lim_umidade %}bg-danger
                        {% elif dados.umidade < umidade_ideal %}bg-success
                        {% else %}bg-warning                         
                        {% endif %} text-center ">{{ dados.umidade }} %</td>

                        <td class="text-center" >{{ dados.media_u }} %</td>

                        <td class="text-center">
                        <a href="polls/{{ dados.local}}">
                        <img src="static/img/icon.png" alt="icon">      
                        </a> </td>


         </tr>

                    {% endfor %}


                {% else %}
                    <td> Sem Registros.</td>
                {% endif %}

        </tbody>
	   </table>
       </div>

    <footer class="footer">
      <div class="container">
        <p class=" text-center"> Desenvolvido por alunos da disciplina Tópicos Avançados em Computadores - Universidade de Brasília. </p>
      </div>
    </footer>
    </body>
</html>	
